.completed-list {
    text-decoration: line-through;
}

.check-box-layout {
    padding-right: 5px;
    padding-right: 15px;
}

.todo-title {
    text-align: center
}

.detail-link-container {
    position: absolute;
    float: left;
    left: 90%;
}