<div>
    <h1 class="todo-title">My Todo list</h1>
    <mat-card>
        <mat-list *ngFor="let todo of todosStore.todosNotFinished$ | async">
            <mat-list-item>
                <div class="check-box-layout">
                    <mat-checkbox [checked]="todo.isFinished"
                                  (change)="todosStore.setFinished($event, todo)"></mat-checkbox>
                </div>
                {{ todo.title }}
            </mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>
        <mat-list *ngFor="let todo of todosStore.todosFinished$ | async">
            <mat-list-item class="completed-list">
                <div class="check-box-layout">
                    <mat-checkbox [checked]="todo.isFinished"
                                  (change)="todosStore.setFinished($event, todo)"></mat-checkbox>
                </div>
                {{ todo.title }}
            </mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>
    </mat-card>
</div>